@page "/CreatePost"
@using HttpClients.ClientInterfaces
@using Domain.Models
@using Domain.DTOs
@using UIComponents
@inject IUserService userService
@inject IPostService PostService
@inject NavigationManager navMgr

<div class="card">
    @if (users == null)
    {
        <label>Loading users...</label>
    }
    else if (!users.Any())
    {
        <label>No users, you cannot create a Posts</label>
    }
    else
    {
        <h3>Create Post</h3>
        <div class="form-group field">
            <label>Title:</label>
            <input type="text" @bind="postTitle"/>
            <label>Text:</label>
            <input type="text" @bind="postText"/>
        </div>
        <div class="form-group field">
            <label>Assignee:</label>
            <select @bind="selectedUserId">
                <option>Choose</option>
                @foreach (User user in users)
                {
                    <AuthorizeView>
                        @if (@context.User.Identity != null && @context.User.Identity.Name.Equals(user.UserName))
                        {
                            <option value="@user.Id">@user.UserName</option>
                        }
                    </AuthorizeView>
                }
            </select>
        </div>
        <div class="button-row">
            @if (!string.IsNullOrEmpty(msg))
            {
                <label style="color: red">@msg</label>
            }
            <button @onclick="Create" class="acceptbtn">Create</button>
        </div>
    }
</div>

<Modal ShowModal="showModal">
    <p>You have successfully added a new Post item. You should be very proud of yourself!</p>
    <button @onclick="@Proceed">Wonderful</button>
</Modal>

@code {
    private IEnumerable<User>? users;
    private int? selectedUserId;
    private string postTitle = "";
    private string postText = "";

    private string msg = "";

    private bool showModal;

    protected override async Task OnInitializedAsync()
    {
        msg = "";
        try
        {
            users = await userService.GetUsers();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }

    private async Task Create()
    {
        msg = "";
        if (selectedUserId == null)
        {
            msg = "You must select an assignee!";
            return;
        }
        if (string.IsNullOrEmpty(postTitle))
        {
            msg = "Title cannot be empty!";
            return;
        }
        if (string.IsNullOrEmpty(postText))
        {
            msg = "text cannot be empty!";
            return;
        }
        try
        {
            PostCreationDto dto = new((int)selectedUserId, postTitle, postText);
            await PostService.CreateAsync(dto);
            showModal = true;
        }
        catch (Exception e)
        {
            
            Console.WriteLine(e);
            msg = e.Message;

        }
    }

    private void Proceed()
    {
        showModal = false;
        navMgr.NavigateTo("/ViewPosts");
    }

}